In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

results = session.query(Measurement.date,Measurement.tobs).filter(extract('month', Measurement.date) == '06')
df = pd.DataFrame(results, columns = ['Date','June Temps'])

In [5]:
#  3. Convert the June temperatures to a list.
june_temp_list = df.values.tolist()

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temps_df = pd.DataFrame(june_temp_list, columns=['Date','June Temps'])

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temps_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results = session.query(Measurement.date,Measurement.tobs).filter(extract('month', Measurement.date) == '12')
df = pd.DataFrame(results, columns = ['Date','December Temps'])

In [9]:
# 7. Convert the December temperatures to a list.

dec_temp_list = df.values.tolist()

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temps_df = pd.DataFrame(dec_temp_list, columns=['Date','December Temps'])

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temps_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

##  Summary Statistics for June Precipitation

In [12]:
# query that filters the Measurement table to retrieve the precipitation for the month of June.
results = session.query(Measurement.date,Measurement.prcp).filter(extract('month', Measurement.date) == '06')

df = pd.DataFrame(results, columns = ['date','June precipitation'])

june_precip_list = df.values.tolist()
june_precips_df = pd.DataFrame(june_precip_list,columns = ["Date","June precipitation"])

In [13]:
june_precips_df.describe()

       June precipitation
count         1574.000000
mean             0.136360
std              0.335731
min              0.000000
25%              0.000000
50%              0.020000
75%              0.120000
max              4.430000

In [14]:
# query that filters the Measurement table to retrieve the precipitation for the month of June.
results = session.query(Measurement.date,Measurement.prcp).filter(extract('month', Measurement.date) == '06')
       
df = pd.DataFrame(results, columns = ['date','June precipitation'])

# June summary of the amount of precipitation and  no. of days
precip_gt_zero = df[(df['June precipitation'] > 0)] 
precip_gt_zero = precip_gt_zero.groupby(['June precipitation']).count()['date']

precip_gt_zero

June precipitation
0.01    103
0.02     94
0.03     78
0.04     40
0.05     48
       ...
2.56      1
2.80      1
3.60      1
4.02      1
4.43      1
Name: date, Length: 123, dtype: int64

##  Summary Statistics for December Precipitation

In [15]:
# query that filters the Measurement table to retrieve the precipitation for the month of dec.
results = session.query(Measurement.date,Measurement.prcp).filter(extract('month', Measurement.date) == '12')
df = pd.DataFrame(results, columns = ['date','December precipitation'])


dec_precip_list = df.values.tolist()
dec_precips_df = pd.DataFrame(dec_precip_list,columns = ["Date","December precipitation"])

In [16]:
dec_precips_df.describe()

       December precipitation
count             1405.000000
mean                 0.216819
std                  0.541399
min                  0.000000
25%                  0.000000
50%                  0.030000
75%                  0.150000
max                  6.420000

In [17]:
# query that filters the Measurement table to retrieve the precipitation for the month of December.
results = session.query(Measurement.date,Measurement.prcp).filter(extract('month', Measurement.date) == '12')
       
df = pd.DataFrame(results, columns = ['date','December precipitation'])

# December summary of the amount of precipitation and  no. of days
precip_gt_zero = df[(df['December precipitation'] > 0)] 
precip_gt_zero = precip_gt_zero.groupby(['December precipitation']).count()['date']

precip_gt_zero

December precipitation
0.01    94
0.02    91
0.03    61
0.04    44
0.05    44
        ..
4.03     1
4.94     1
4.95     1
5.04     1
6.42     1
Name: date, Length: 152, dtype: int64